@{
    ViewBag.Title = "Guide line";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
@section css{
}
@section scripts{
}
@using Resources;
<!--Breadcrumb Banner Area Start-->
<div class="breadcrumb-banner-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-text">
                    <h1 class="text-center">@UserLang.GuideLine</h1>
                    <div class="breadcrumb-bar">
                        <ul class="breadcrumb">
                            <li><a href="@Url.RouteUrl("Home")">@UserLang.MenuHome</a></li>
                            <li>@UserLang.GuideLine</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of Breadcrumb Banner Area-->
<!--Guide line Page Area Start-->
<div class="about-page-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="about-text-container">
                    @Html.Raw(ViewBag.text)
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of Guide line Page Area-->

